* {
    margin: 0px;
    padding: 0px;
}

ul,
ol {
    list-style: none;
    margin-left: 100px;
}

.nav {
    height: 50px;
    margin-top: 10px;
}

.nav>li {
    float: left;
}

.nav li a {
    background-color: #fff;
    color: #5ba545;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

.nav li a:hover {
    background-color: #5ba545;
    color: #fff;
    border-radius: 15px;

}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover>ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}

header {
    /*margin:auto;*/
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapperBody {
    width: 100%;
    height: 500px;
}

#headerWrapper {
    width: 100%;
    height: 200px;
    z-index: -1;
    background-size: cover;
    background-image: url(./images/images9.jpeg);
    clear: both;
}

#titulo {
    position: relative;
    margin: auto;
    top: 20%;
    width: 500px;
}

#headerWrapper img {
    float: left;
    height: 60%;
}

#headerWrapper h1 {
    float: left;
    margin-left: 25px;
    color: white;
}

footer {
    height: 120px;
    width: 100%;
    margin-top: 20px;
    background-color: #DDDDDD;
    border-top: 4px solid silver;
}

#footerWrapper {
    width: 70%;
    height: 100%;
    max-width: 1200px;
    margin-left: 100px;
}

#footerWrapper p{
    font-size: 10px;
    font-style: italic;
}

#footerWrapper>div {
    height: 100%;
    height: 100%;
    float: left;
    padding: 30px;
    box-sizing: border-box;
}

#sociales {
    width: 20%;
    color:slategray;
}

#sociales img{
    float:left;
    height: 20px;
    margin-top: 15px;
    margin-right: 5px;
}

#textoPie {
    width: 80%;
    color:darkslategrey;
}